@model WeLoveCoffee.Data.EntityModels.User;
@{
    ViewData["Title"] = "User";
}
<div class="container">
    @using (Html.BeginForm(FormMethod.Post))
    {
        <div class="form-group">
            <label for="Name">Id</label>
            <input type="text" id="Name" class="form-control" value="@Model.Id" readonly/>
        </div>
        <div class="form-group">
            <label for="Claim">Name</label>
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" id="Name" class="form-control" value="@Model.Name" />
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input type="Password" id="Password" class="form-control" value="@Model.Password" />
        </div>
        <label class="mt-3">Access roles:</label>
        <div class="container border rounded border-danger py-3">

            <div class="form-group">
                @foreach (var item in ViewBag.Claims)
                {
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="@item">
                        <label class="form-check-label" for="@item">@item</label>
                    </div>
                }
            </div>
        </div>
    }
</div>
