@model List<WeLoveCoffee.Data.EntityModels.Product>;
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <table class="table table-striped table-bordered table-responsive">
        <thead class="bg-primary font-weight-bold text-center">
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Created</td>
                <td>Consumed</td>
                <td>ConsumedTotal</td>
                <td>Edit</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in ViewBag.User)
            {
                <tr>
                    <td class="text-nowrap">@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Created</td>
                    <td>@user.Consumed</td>
                    <td>@user.ConsumedTotal</td>
                    <td class="text-center">
                        <form asp-controller="Manage" method='post'>
                            <input name='parameter' value='@user.Id' style="visibility:hidden;">
                            <button class="btn btn-primary" type='submit' name='userId' value='@user.Id' asp-action="Edit">Edit</button>
                            <span><button class="btn btn-danger" type='submit' name='userId' value='@user.Id' asp-action="Remove">Remove</button></span>
                        </form>
                        <form action='Remove' method='post' id="remove">
                            <input name='parameter' value='@user.Id' style="visibility:hidden;">
                        </form>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
