@model List<WeLoveCoffee.Data.EntityModels.Product>;
@{
    ViewData["Title"] = "Home";
}
    <div class="container text-center">
        <div class="container-fluid bg-light p-2 mb-2">
            <img class="border border-dark rounded mb-3" src="@ViewBag.Roast.ImagePath" width="256" height="256" />
            <p><span><strong>Current roast: </strong></span>@ViewBag.Roast.Name</p>
            <p><span><strong>Price: </strong></span>@ViewBag.Roast.Price</p>
        </div>

        @using (Html.BeginForm("BuyProduct", "Buy", FormMethod.Post))
        {
            <div class="container text-center">
                    <select id="Id" name="userName">
                        @foreach (var user in ViewBag.Users)
                        {
                            <option value="@user.Id">@user.Name</option>
                        }
                    </select>
                </div>

                @foreach (var item in Model)
                {

                    <div class="row border-bottom border-dark py-3">
                        <div class="col-6 text-center">
                            <img class="img-thumbnail" src="@item.ImagePath" width="256" height="256" />
                        </div>
                        <div class="col-6 text-center">
                            <p><span><strong>Name: </strong></span>@item.Name</p>
                            <p><span><strong>Price: </strong></span>@item.Price €</p>
                            <p><span><strong>ProductType: </strong></span>@item.ProductType.Type</p>
                            <input type="hidden" value="@item.Id" />
                            <input type="submit" class="btn btn-default btn-outline-primary" value="Buy" />
                        </div>
                    </div>
                }
            }
            </div>